<!-- Pagina inicial
 Mostrar propiedades como la version, la plataforma, el directorio de instalacion y el archivo de logs -->
{% extends 'index.html' %}

{% block title %}
  Control - ePrint
{% endblock %}

{% block content %}
  <h2>Información del Sistema</h2>
  <ul>
    <li><strong>Versión:</strong> {{ VERSION }}</li>
    <li><strong>Plataforma:</strong> {{ PLATFORM }}</li>
    <li><strong>Directorio de Instalación:</strong> {{ PATH }}</li>
    <li><strong>Archivo de Logs:</strong> {{ LOGS }}</li>
  </ul>
{% endblock %}

