{% extends 'index.html' %}
{% block title %}
  Control - ePrint
{% endblock %}

{% block content %}
  <h1>Información del Sistema</h1>
  <ul>
    <li><strong>Versión:</strong> {{ VERSION }}</li>
    <li><strong>Plataforma:</strong> {{ PLATFORM }}</li>
    <li><strong>Directorio de Instalación:</strong> {{ PATH }}</li>
    <li><strong>Archivo de configuración:</strong> {{ CONFIG_PATH }}</li>
    <li><strong>Archivo de Logs:</strong> {{ LOGS }}</li>
  </ul>
{% endblock %}
{% block extra_js %}
{% endblock %}
