<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        ePrint
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    {% block extra_css %}

    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-brand mt-2">ePrint</ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('get_info') }}">Propiedades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('printers') }}">Imprimir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_settings') }}">Configuración de impresoras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_api') }}">Documentación API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_versions') }}">Notas de la versión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_licenses') }}">Licencias</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-4">
      {% block content %}

      {% endblock %}
    </div>
    {% block extra_js %}

    {% endblock %}

    <footer>
      <p>© 2025 JNC. Todos los derechos reservados.</p>
      <p>Desarrollado por jnc@jnc.es</p>
    </footer>
  </body>
</html>
