<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plantilla</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
    <!-- icon -->
    <link rel="icon" href="static/favicon.ico" />
  </head>
  <body>
    <nav class="ms-5">
      <a class="navbar-brand" href="#">ImpressaPDF</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('get_info') }}">Propiedades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_printers') }}">Imprimir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_api') }}">Documentación API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_version') }}">Notas de la versión</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
